body {
    width: 100%;
    min-height: 400px;
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.4;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}

p{
    text-indent:40px;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #545454;
    margin-bottom: 50px;
}

.log {
    margin: 0 auto;
    float:left;
    padding: 10px;
    text-align: left;
    color:white;
    font-size: 40px;
    width: 380px;
}

.menu {   
    display: block;
    float: right;
    margin: 0 auto;
    margin-top: 15px;
    margin-right:40px;
    font-size: 18px;
    font-weight: bold;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

th,td{
    width: 100px;
    height: 100px;
    font-size: 70px;
}

.tbl{
    text-align: center;
    border-collapse: collapse;
    display: inline-block;
}

.gam{
    margin: 0 auto;
}

.game{
    text-align: center;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}


.History {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

h1{
    text-align: center;
}

h2{
    margin-bottom: 30px;
    margin-top:30px;
}

.ssil:hover{
    color: black;
    text-decoration: none;
}

.examples{
    display: block;
    margin: 0;
    padding: 0;
    list-style: square;
    margin-bottom: 200px;
}

.Instr{
    margin: 0 auto;
    margin-top: 100px; 
    width:300px;
}

.Instr > ol > li {
    text-align: left;
}

.rd:hover{
    color:red;
    
}

.bl:hover{
    color:blue;
}

.reviews{
    /*width: 700px;*/
    margin: 0 auto;
    
}

.addReview{
    resize:none;
    width: 100%;
    height: 200px !important;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}

.comment{
    text-align: left;
    border-bottom: 1px solid grey;
    width:100%;
    margin-bottom: 20px;
    padding-bottom: 55px;
}

.change{
    float:right;
    margin-right: 10px;
    margin-bottom: 50px;
}

.delete{
    float: right;
}

.save{
    float:right;
    margin-right: 10px;
}

.changeReview{
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    margin-right: 10px;
    width: 70%;
    height: 80px;
    resize:none;
}

.newRating{
    float: right;
    margin-right: 10px;
}

#Name{
    width: 50% !important;
}

@media print {
    body{
        font-size: 20px;
    }

    #up{
        display: none;
    }

    select {
        page-break-inside: avoid;
    }
    .comment{
        page-break-inside: avoid;
        -webkit-print-color-adjust: exact;
    }
}    
